.layout-row {
  .drop-zone {
    filter: opacity(0);
    &.drag-over {
      filter: opacity(1);
    }
  }
  .insert-line {
    filter: opacity(0);
    &.drag-over {
      filter: opacity(1);
    }
  }
}

.layer-dragging {
  .drop-zone {
    filter: opacity(0.3);
  }
}